In [1]:
import pandas as pd
import numpy as np
import sklearn.linear_model as lm
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv('RegressionProject_HousePrices_n4000_seed5316.csv')

In [3]:
df.head()

       price  size_sqft  lot_sqft  ...  has_pool  garage_cars  waterfront
0   18389800       2588      3901  ...        No            3          No
1   22831700       2363      4640  ...       Yes            3          No
2    4196200       1050      2000  ...        No            0         Yes
3  124268900       3381      9221  ...       Yes            3          No
4   14971300       1991      6869  ...        No            1          No

[5 rows x 16 columns]

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4000 entries, 0 to 3999
Data columns (total 16 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   price             4000 non-null   int64
 1   size_sqft         4000 non-null   int64
 2   lot_sqft          4000 non-null   int64
 3   bedrooms          4000 non-null   int64
 4   bathrooms         4000 non-null   float64
 5   year_built        4000 non-null   int64
 6   year_renovated    1255 non-null   float64
 7   renovated         4000 non-null   object
 8   condition         4000 non-null   object
 9   location_quality  4000 non-null   object
 10  dist_center_km    4000 non-null   float64
 11  crime_rate        4000 non-null   float64
 12  school_rating     4000 non-null   int64
 13  has_pool          4000 non-null   object
 14  garage_cars       4000 non-null   int64
 15  waterfront        4000 non-null   object
dtypes: float64(4), int64(7), object(5)
memory usage: 500.1+ KB

In [11]:
df.describe()

              price    size_sqft  ...  school_rating  garage_cars
count  4.000000e+03  4000.000000  ...    4000.000000  4000.000000
mean   4.628053e+07  2021.401000  ...       6.717000     1.735250
std    3.116405e+08   871.725045  ...       1.806163     1.192062
min    8.714000e+05   600.000000  ...       1.000000     0.000000
25%    5.016850e+06  1370.000000  ...       5.000000     1.000000
50%    9.739350e+06  1888.000000  ...       7.000000     2.000000
75%    2.304932e+07  2557.000000  ...       8.000000     3.000000
max    1.344989e+10  5619.000000  ...      10.000000     4.000000

[8 rows x 11 columns]